.Layout {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    background: linear-gradient(#FF5300,#2288ee);

    span {
         margin-left: 10px;
      a {
        font-size: 1.6rem;
        font-weight: bold;
        color: white;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      button {
        color: white;
        background-color: white;
      }
    }
  }

  main {
    max-width: 700px;
    margin: 0 auto;
    padding: 24px;
  }
}
